@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #000;
   color: rgb(183 204 212);
   font-family: "Mulish", sans-serif;
}

h1 {
   font-size: 4rem;
   font-weight: 700;
}

a {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

ul {
   list-style: none;
}

.header {
   width: 100%;
   background-image: linear-gradient(
         rgba(19, 19, 19, 0.93),
         rgba(19, 19, 19, 0.3),
         rgba(19, 19, 19, 0.73)
      ),
      url("./images/bg.jpg");

   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100vw;
   height: 100vh;
}

.container {
   margin: 0 auto;
   padding: 0.2rem 12% 5% 12%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content-container {
   margin: 0 auto;
   padding: 0.2rem 12% 5% 12%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.content {
   /* padding: 5% 5% 5%; */
}

.nav {
   /* width: 30%; */
   /* background-color: rgb(126, 24, 24); */
}

.nav ul {
   display: flex;
}

.nav ul li {
   margin-right: 1.5rem;
   text-transform: uppercase;
   padding: 10px;
   border-bottom: none;
   transition: border 0.7 ease;
}

.nav ul li:hover {
   border-bottom: 1px solid #e8a92d;
}

.social-links {
}

.logo img {
   width: 90px;
}

.social-links ul {
   display: flex;
}

.social-links ul li {
   margin-left: 1rem;
}

.social-links img {
   width: 20px;
}

.section {
}

.content {
   width: 50%;
}

.album-name {
   font-size: 7rem;
   color: #e8a92d;
   font-weight: 900;
}

.album-part {
   color: rgb(183 204 212);
}

.album-part {
   font-size: 2.5rem;
}

.content p {
   margin-bottom: 2.5rem;
}

.visual-content {
}
.coverart-div {
}

.coverart-div figure img {
   width: 650px;
   max-width: 100%;
   box-shadow: rgba(5, 5, 4, 0.5) 0px 1px 0px,
      rgba(128, 128, 132, 50%) 0px 0px 10px;
}
