@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #000;
   color: rgb(183 204 212);
   font-family: "Mulish", sans-serif;
   background-image: url("./images/bg.jpg");
}

h1 {
   font-size: 4rem;
   font-weight: 700;
}

a {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

ul {
   list-style: none;
}

.header {
   width: 100%;
   background-image: linear-gradient(
         rgba(19, 19, 19, 0.5),
         rgba(19, 19, 19, 0.7),
         rgba(19, 19, 19, 0.9)
      ),
      url("./images/bg.jpg");

   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100vw;
   height: 100vh;
}

.container {
   margin: auto;
   margin-bottom: 3rem;
   width: 100%;
   max-width: 1400px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

.content-container {
   margin: 0 auto;
   max-width: 1400px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 1rem;
}

.content {
   /* padding: 5% 5% 5%; */
}

.nav {
   /* width: 30%; */
   /* background-color: rgb(126, 24, 24); */
}

.nav ul {
   display: flex;
}

.nav ul li {
   margin-right: 1.5rem;
   text-transform: uppercase;
   padding: 10px;
   border-bottom: none;
   transition: border 0.7 ease;
}

.nav li:first-child {
   padding-left: 0;
}

.nav ul li:hover {
   border-bottom: 1px solid #e8a92d;
}

.social-links {
}

.logo img {
   width: 90px;
}

.social-links ul {
   display: flex;
}

.social-links ul li {
   margin-left: 1rem;
}

.social-links img {
   width: 20px;
}

.section {
}

.content {
   width: 50%;
}

.album-name {
   font-size: 7rem;
   color: #e8a92d;
   font-weight: 900;
}

.album-part {
   color: rgb(183 204 212);
}

.album-part {
   font-size: 2.5rem;
   margin-bottom: 3rem;
}

.content p {
   margin-bottom: 2.5rem;
}

.visual-content {
}
.coverart-div {
}

.coverart-div img {
   width: 500px;
   max-width: 100%;
   box-shadow: -3px 9px 20px 2px rgba(9, 23, 68, 0.116);
}

.listen-button {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 1rem 0;
   margin-bottom: 3rem;
}

.listen {
   display: flex;
   justify-content: flex-start;
}

.listen img {
   width: 200px;
   /* background-color: #fff; */
}

@media (max-width: 668px) {
   .container {
      flex-direction: column;
   }
   .nav {
      display: none;
   }

   .social-links li:first-child {
      margin: 0;
   }

   .content-container {
      flex-direction: column;
      padding: 0 3%;
      justify-content: center;
      align-items: center;
   }

   .content {
      max-width: 100%;
      width: 500px;
   }

   .album-name {
      font-size: 4rem;
   }

   .album-part {
      font-size: 1.5rem;
      padding-bottom: 3rem;
   }

   .content p {
      margin-top: 3rem;
   }

   .coverart-div img {
   }

   .listen-button {
      justify-content: center;
      align-items: center;
   }

   .listen {
      display: flex;
      justify-content: center;
   }
}
