@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e3e3e3;
  color: #000;
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  /* overflow: hidden; */
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
}

.container {
  margin: auto;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content {
  /* padding: 5% 5% 5%; */
}

.nav {
  /* width: 30%; */
  /* background-color: rgb(126, 24, 24); */
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 0;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: none;
  transition: border 0.7 ease;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:hover {
  border-bottom: 1px solid #e8a92d;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 90px;
}

.social-links ul {
  display: flex;
}

.social-links li:first-child {
  margin-left: 0;
}

.social-links li {
  margin-left: 1rem;
}

.social-links img {
  width: 20px;
}

.section {
}

.content {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.album-name {
  font-size: 7rem;
  color: #e8a92d;
  font-weight: 900;
}

.album-part {
  color: rgb(183 204 212);
}

.album-part {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.content p {
  margin-bottom: 2.5rem;
}

.visual-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 400px; */
  text-align: center;
}
.coverart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
}

.coverart-div img {
  width: 480px;
  max-width: 100%;
}

.listen-button {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
  grid-template-rows: 0.9fr 0.9fr;
  gap: 1rem 0;
  margin-bottom: 3rem;
}

.listen {
  display: flex;
  justify-content: flex-start;
}

.listen img {
  width: 200px;
  /* background-color: #fff; */
}

.buyBtns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.css-button {
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  border: 1px #6d6262 solid;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 0%);
  text-shadow: 0px 0px 0px #b4b4b4;
  box-shadow: 1px 1px 2px 0px #bbdaf7;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}
.css-button:hover {
  background: linear-gradient(0deg, #4abd40 0%, #161515 0%);
  color: #ffffff;
}
.css-button-icon {
  padding: 24px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: rgba(71, 61, 61, 0.14) -1px 0px 0px;
}
.css-button-text {
  padding: 20px 20px;
}

iframe {
  width: 480px;
  height: 300px;
}

@media (max-width: 668px) {
  body {
    background: #e3e3e3;
  }
  .container {
    flex-direction: column;
  }
  .nav {
    display: none;
  }

  .social-links li:first-child {
    margin: 0;
  }

  .content-container {
    flex-direction: column;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
  }

  .content {
    max-width: 100%;
    width: 500px;
  }

  .album-name {
    font-size: 4rem;
  }

  .album-part {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .content p {
    margin-top: 3rem;
  }

  .coverart-div img {
  }

  .listen-button {
    /* gap: 0 0.05fr; */
  }

  .listen img {
    width: 150px;
    /* background-color: #fff; */
  }

  .listen {
    display: flex;
    justify-content: center;
  }

  .buyBtns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 90%;
    height: 250px;
    margin-bottom: 3rem;
  }
}
